<a href="https://colab.research.google.com/github/kbhuvi/MSDS-Assignments/blob/master/TealBook_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install swifter

In [ ]:
import pandas as pd
import numpy as np
import swifter

# Load the files into pandas dataframe for analysis.

In [ ]:
city_df = pd.read_csv("cities.csv")
climate_df = pd.read_csv('climate.csv')

# Analysis of city dataframe to understand the fields and data

In [ ]:
city_df.columns

Index(['city', 'lat', 'lng', 'country', 'iso2', 'admin', 'capital',
       'population', 'population_proper'],
      dtype='object')

In [ ]:
city_df.dtypes

city                  object
lat                  float64
lng                  float64
country               object
iso2                  object
admin                 object
capital               object
population             int64
population_proper      int64
dtype: object

In [ ]:
city_df.describe()

              lat         lng    population  population_proper
count  247.000000  247.000000  2.470000e+02       2.470000e+02
mean    52.922777  -91.917140  9.365829e+04       6.671848e+04
std      7.340857   22.935838  4.510522e+05       3.120743e+05
min     42.301649 -139.450000  0.000000e+00       0.000000e+00
25%     48.183334 -112.750000  1.089000e+03       1.066000e+03
50%     50.933333  -89.233333  5.043000e+03       4.331000e+03
75%     55.783333  -73.096227  2.591750e+04       2.435050e+04
max     82.483333  -52.666667  5.213000e+06       3.934421e+06

In [ ]:
city_df.head(5)

        city        lat         lng  ...  capital population population_proper
0    Toronto  43.666667  -79.416667  ...    admin    5213000           3934421
1   Montréal  45.500000  -73.583333  ...      NaN    3678000           2356556
2  Vancouver  49.250000 -123.133333  ...      NaN    2313328            603502
3     Ottawa  45.416667  -75.700000  ...  primary    1145000            812129
4    Calgary  51.083333 -114.083333  ...      NaN    1110000            915322

[5 rows x 9 columns]

In [ ]:
city_df.groupby(['admin']).count()

                           city  lat  ...  population  population_proper
admin                                 ...
Alberta                      20   20  ...          20                 20
British Columbia             31   31  ...          31                 31
Manitoba                     20   20  ...          20                 20
New Brunswick                 5    5  ...           5                  5
Newfoundland and Labrador    19   19  ...          19                 19
Northwest Territories        15   15  ...          15                 15
Nova Scotia                  11   11  ...          11                 11
Nunavut                      22   22  ...          22                 22
Ontario                      47   47  ...          47                 47
Prince Edward Island          1    1  ...           1                  1
Québec                       36   36  ...          36                 36
Saskatchewan                 16   16  ...          16                 16
Yukon                         4    4  ...           4                  4

[13 rows x 8 columns]

# Process city dataframe

In [ ]:
city_df.rename(columns={"admin": "capital", "capital": "admin"}, inplace=True)
city_df.columns = city_df.columns.str.upper()

In [ ]:
city_df.head(5)

        CITY        LAT         LNG  ...    ADMIN POPULATION POPULATION_PROPER
0    Toronto  43.666667  -79.416667  ...    admin    5213000           3934421
1   Montréal  45.500000  -73.583333  ...      NaN    3678000           2356556
2  Vancouver  49.250000 -123.133333  ...      NaN    2313328            603502
3     Ottawa  45.416667  -75.700000  ...  primary    1145000            812129
4    Calgary  51.083333 -114.083333  ...      NaN    1110000            915322

[5 rows x 9 columns]

In [ ]:
city_df.LAT.isna().values.any()

False

In [ ]:
city_df['CITY'].nunique()

245

In [ ]:
city_df['CAPITAL'].nunique()

13

## Analysis of city dataframe to understand the fields and data

In [ ]:
climate_df.columns

Index(['lng', 'lat', 'STATION_NAME', 'CLIMATE_IDENTIFIER', 'ID', 'LOCAL_DATE',
       'PROVINCE_CODE', 'LOCAL_YEAR', 'LOCAL_MONTH', 'LOCAL_DAY',
       'MEAN_TEMPERATURE', 'MEAN_TEMPERATURE_FLAG', 'MIN_TEMPERATURE',
       'MIN_TEMPERATURE_FLAG', 'MAX_TEMPERATURE', 'MAX_TEMPERATURE_FLAG',
       'TOTAL_PRECIPITATION', 'TOTAL_PRECIPITATION_FLAG', 'TOTAL_RAIN',
       'TOTAL_RAIN_FLAG', 'TOTAL_SNOW', 'TOTAL_SNOW_FLAG', 'SNOW_ON_GROUND',
       'SNOW_ON_GROUND_FLAG', 'DIRECTION_MAX_GUST', 'DIRECTION_MAX_GUST_FLAG',
       'SPEED_MAX_GUST', 'SPEED_MAX_GUST_FLAG', 'COOLING_DEGREE_DAYS',
       'COOLING_DEGREE_DAYS_FLAG', 'HEATING_DEGREE_DAYS',
       'HEATING_DEGREE_DAYS_FLAG', 'MIN_REL_HUMIDITY', 'MIN_REL_HUMIDITY_FLAG',
       'MAX_REL_HUMIDITY', 'MAX_REL_HUMIDITY_FLAG'],
      dtype='object')

In [ ]:
climate_df.describe()

                lng           lat  ...  MIN_REL_HUMIDITY  MAX_REL_HUMIDITY
count  41513.000000  41513.000000  ...      33531.000000      33531.000000
mean     -98.869026     52.456319  ...         67.547434         86.593719
std       23.178858      6.741840  ...         12.859809          9.364097
min     -140.868889     41.948614  ...         14.000000         43.000000
25%     -117.817094     48.647222  ...         60.000000         80.000000
50%     -105.137222     50.441111  ...         68.000000         88.000000
75%      -78.166667     54.286111  ...         76.000000         94.000000
max      -52.783339     76.425833  ...        100.000000        100.000000

[8 rows x 18 columns]

In [ ]:
climate_df.isna().values.any()

True

# Process Climate Dataframe

In [ ]:
climate_df.columns = climate_df.columns.str.upper()

In [ ]:
climate_df.head(5)

          LNG        LAT  ... MAX_REL_HUMIDITY MAX_REL_HUMIDITY_FLAG
0 -112.966667  54.283333  ...             97.0                   NaN
1 -112.966667  54.283333  ...             99.0                   NaN
2 -112.966667  54.283333  ...             93.0                   NaN
3 -112.966667  54.283333  ...             92.0                   NaN
4 -112.966667  54.283333  ...             98.0                   NaN

[5 rows x 36 columns]

## Define a map with Canada Provinces & abbreviation which will be helpful to map the dataframes.

In [ ]:
canada_province_map = {"Ontario": "ON", "Québec": "QC", "British Columbia": "BC", "Newfoundland and Labrador": "NL","Prince Edward Island": "PE", "Nova Scotia": "NS", "New Brunswick": "NB", "Manitoba": "MB",
                        "Saskatchewan": "SK","Alberta": "AB", "Yukon": "YT", "Northwest Territories": "NT", "Nunavut": "NU"}

# In order to compute temperature stats for urban canada, list of urban canadian areas need to be defined. One factor which would be useful in determining urban area is population. The cities.csv file contains two fields, population & population_proper. Out of these two, 'population' field is considered for filtering urban canada since population_proper could mean population within a city downtown area.

In [ ]:
urban_cities_df = city_df[city_df['POPULATION'] >= 100000].copy()

# Add a new column that contains Capital Abbreviations to urban cities dataframe which will be useful to map climate data.

In [ ]:
urban_cities_df['CAPITAL_ABBR'] = urban_cities_df.apply(lambda row: canada_province_map[row['CAPITAL']], axis=1)
urban_cities_df.head(5)

        CITY        LAT         LNG  ... POPULATION POPULATION_PROPER CAPITAL_ABBR
0    Toronto  43.666667  -79.416667  ...    5213000           3934421           ON
1   Montréal  45.500000  -73.583333  ...    3678000           2356556           QC
2  Vancouver  49.250000 -123.133333  ...    2313328            603502           BC
3     Ottawa  45.416667  -75.700000  ...    1145000            812129           ON
4    Calgary  51.083333 -114.083333  ...    1110000            915322           AB

[5 rows x 10 columns]

# Unique Urban Provinces based on the population filter. (Population> 100000)

In [ ]:
 urban_province_unique = urban_cities_df['CAPITAL_ABBR'].unique()
 urban_province_unique

array(['ON', 'QC', 'BC', 'AB', 'MB', 'NS', 'SK', 'NL'], dtype=object)

# Mapping of province abbreviation and the urban cities that are part of the province

In [ ]:
urban_city_df_map = dict(tuple(urban_cities_df.groupby('CAPITAL_ABBR')))
urban_city_df_map['ON']

         CITY        LAT        LNG  ... POPULATION POPULATION_PROPER CAPITAL_ABBR
0     Toronto  43.666667 -79.416667  ...    5213000           3934421           ON
3      Ottawa  45.416667 -75.700000  ...    1145000            812129           ON
6    Hamilton  43.256101 -79.857484  ...     721053            519949           ON
9      Oshawa  43.900000 -78.866667  ...     450963            247989           ON
10  Kitchener  43.446976 -80.472484  ...     417001            409112           ON
12     London  42.983333 -81.250000  ...     346765            335035           ON
13    Windsor  42.301649 -83.030744  ...     319246            210891           ON
16     Barrie  44.383333 -79.700000  ...     182041            119732           ON
18    Sudbury  46.500000 -80.966667  ...     157857             80507           ON
20     Sarnia  42.978417 -82.388177  ...     144172             82998           ON
25   Kingston  44.300000 -76.566667  ...     114195            102400           ON

[11 rows x 10 columns]

# Since the focus is only urban canadian temperatures, climates dataframe can be filtered to only include the urban provinces temperature.

In [ ]:
urban_climate_df = climate_df[climate_df['PROVINCE_CODE'].isin(urban_province_unique)]

# Since the goal is to obtain the temperature statistics for urban canada, the station that are part of urban canada cities should be filtered. But, in order to map a station with an urban city, there is no other mapping columns available other than the latitude & longtitude for weather station and city.
# The below code blocks contains logic to determine distance from the weather statation to all the urban cities that are part of the province. Climate dataframe contains weather station Latitude,longitude and also the province Code for the stations. This will explained in steps.

#Step 1 : Below function is referred from https://www.geeksforgeeks.org/program-distance-two-points-earth/. This program contains logic to determine distance between two points using teh latitude and longitude.

In [ ]:

def distance(lat1: float, lat2: float, lon1: float, lon2: float) -> float:
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * asin(sqrt(a))
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
    # calculate the result
    return c * r

# Step 2: Another function defined, which will take the required input arguments to compute the distance between a given station and all the cities that are part of the province the statation is located. (Climate csv only contain station , temperature & province code. There is no direct mapping to cities)

In [ ]:
def station_city_mapping(province_code,station_lat,station_lng):
    urban_city_sub_df = urban_city_df_map[province_code]
    city_name_series = urban_city_sub_df['CITY']
    city_lat_series = urban_city_sub_df['LAT']
    city_lng_series = urban_city_sub_df['LNG']
    dist_arr = []
    for index, value in city_lat_series.items():
        city_lat = value
        city_lng = city_lng_series[index]
        dist = distance(city_lat, station_lat, city_lng, station_lng)
        dist_arr.append(dist)    
    min_dist = min(dist_arr)
    min_idx = dist_arr.index(min_dist)    
    city = city_name_series.iloc[min_idx]    
    return pd.Series({'CITY': city,'DISTANCE_FROM_CITY_KM': min_dist})